{{define "subject"}}
You've been assigned a project
{{end}}

{{define "plainBody"}}
Hi {{.name}},

You've been assigned a project with the following details:

ID: {{.projectID}}
Title: {{.projectName}}

View issue: http://localhost:8080/v1/projects/{{.projectID}}

Thanks,

The Issue Tracker Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p>Hi {{.name}},</p>
<p>You've been assigned a project with the following details:</p>
<ul>
    <li>ID: {{.projectID}}</li>
    <li>Title: {{.projectName}}</li>
</ul>
<p>View issue: <a href="http://localhost:8080/v1/projects/{{.projectID}}">http://localhost:8080/v1/projects/{{.projectID}}</a></p>
<p>Thanks,</p>
<p>The Issue Tracker Team</p>
</body>
</html>
{{end}}
